<!DOCTYPE html>

<html lang="pt-br">
  
  <head>Cadastro</head>
  <meta charset="utf-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="css/style.css">
</head>

  <body>
    <form action="cadastro.php" method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" placeholder="Nome" required>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" required>
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="Senha" required>
      <input type="submit" value="Cadastrar">
    </form>
</html>